<div class="app-content-full" ng-controller="activity_forenoticeController">
    <div  class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFolded = true;
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false
  ">
        <div class="col w-md lter b-r">
            <div class="vbox">
                <div class="wrapper b-b b-light">
                    <div class="font-thin h4">活动预告管理</div>
                </div>
                <div class="nav-tabs-alt">
                    <ul class="nav nav-tabs nav-justified">
                        <li ng-class="{'active': activity_forenotice_tabs[0]}">
                            <a href ng-click="activity_forenotice_tab(0)">数据操作</a>
                        </li>
                    </ul>
                </div>
                <script type="text/ng-template" id="confrim.html">
                    <div ng-include="'tpl/modals/modal.confrim.html'"></div>
                </script>
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="tab-content">
                                <div class="tab-pane" ng-class="{'active': activity_forenotice_tabs[0]}">
                                    <div class="wrapper-md">
                                        <form role="form">
                                            <div class="row">
                                                <div class="form-group col-sm-12 col-xs-12">
                                                    <input type="text" name="name" class="form-control" placeholder="请输入直播/活动名称关键字" ng-model="params.name" required>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="line b-b line-lg"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a class="btn btn-primary btn-block" ng-click="query_by_params()"><i class="fa fa-search-plus"></i>  筛选</a>
                                            </div>
                                            <div class="col-md-6">
                                                <a class="btn btn-dark btn-block" ng-click="query_all()"><i class="fa fa-search"></i>  所有</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" ng-class="{'active': activity_forenotice_tabs[1]}">
                                    <div class="wrapper-md">
                                        <div class="row m-b">
                                            <button class="btn btn-success btn-block" ng-click="reback_all()">还原所有</button>
                                        </div>
                                        <div class="line b-b line-lg"></div>
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                            <tr ng-repeat="item in user_trash_list">
                                                <td><p>{{ item.activity_name}}</p></td>
                                                <td>
                                                    <a href ng-click="reback(item)" tooltip="还原数据" class="text-dark m-l"><i class="fa fa-refresh"></i></a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="vbox">
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <!-- toaster directive -->
                                <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
                                <!-- / toaster directive -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        结果
                                    </div>
                                    <!--<div class="row">-->
                                    <!--<input type="text">-->
                                    <!--</div>-->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead ng-init="
                            app.settings.asideFolded = true;
                            app.settings.asideFixed = true;
                            app.settings.asideDock = false;
                            app.settings.container = false;
                            app.hideAside = false
                            ">
                                            <th>活动编号</th>
                                            <th>活动内容</th>
                                            <th>活动时间</th>
                                            <th>所属视频</th>
                                            <th style="width: 60px">操作</th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in activity_forenotice_list">
                                                <td>{{ item.activity_id }}</td>
                                                <td>{{ item.activity_name }}</td>
                                                <td>{{ item.activity_time*1000 |date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                                <td>{{ item.live_title }}</td>
                                                <td>
                                                    <span>
                                                    <i class="fa fa-trash-o fa-sm text-danger" ng-click="remove(item)"></i>
                                                    </span>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div >
                                            <div class="row" style="margin: 10px 0;">
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="dataTables_info"> 页码: {{bigCurrentPage}} / {{numPages}}  共 {{bigTotalItems}} 条数据</div>
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <div style="float: right;margin: 0;">
                                                        <pagination total-items="bigTotalItems"
                                                                    ng-model="bigCurrentPage"
                                                                    max-size="maxSize"
                                                                    class="pagination-md m-t-none m-b"
                                                                    boundary-links="true"
                                                                    rotate="false"
                                                                    num-pages="numPages"
                                                                    items-per-page="pageSize"
                                                                    previous-text="上一页"
                                                                    next-text="下一页"
                                                                    first-text="首页"
                                                                    last-text="尾页"
                                                                    ng-change="pageChanged()"
                                                        ></pagination>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

