<div class="app-content-full" ng-controller="message_modal_ctrl">
    <div  class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFolded = true;
  app.settings.asideFixed = true;
  app.settings.asideDock = false;
  app.settings.container = false;
  app.hideAside = false
  ">
        <div class="col w-md lter b-r">
            <div class="vbox">
                <div class="wrapper b-b b-light">
                    <div class="font-thin h4">消息管理</div>
                </div>
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="tab-content">
                                <div class="tab-pane" ng-class="{'active': message_tabs[0]}">
                                    <div class="wrapper-md">
                                        <div class="row m-b">
                                            <div class="col-md-12">
                                                <div>
                                                    <script type="text/ng-template" id="operation.message.add.html">
                                                        <div ng-include="'tpl/modals/modal.operation.message.add.html'"></div>
                                                    </script>
                                                    <script type="text/ng-template" id="confrim.html">
                                                        <div ng-include="'tpl/modals/modal.confrim.html'"></div>
                                                    </script>
                                                    <button class="btn btn-success btn-block" ng-click="open_add('sm')">增加消息</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="line b-b line-lg"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="vbox">
                <div class="row-row">
                    <div class="cell">
                        <div class="cell-inner">
                            <div class="wrapper-md">
                                <!-- toaster directive -->
                                <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
                                <!-- / toaster directive -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        结果
                                    </div>
                                    <!--<div class="row">-->
                                    <!--<input type="text">-->
                                    <!--</div>-->
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered">
                                            <thead ng-init="
                            app.settings.asideFolded = true;
                            app.settings.asideFixed = true;
                            app.settings.asideDock = false;
                            app.settings.container = false;
                            app.hideAside = false
                            ">
                                            <th>留言id</th>
                                            <th class="col-lg-10">留言内容</th>
                                            <th>留言用户</th>
                                            <th style="width: 80px">操作</th>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="item in message_list">
                                                <td>{{ item.message_id }}</td>
                                                <td>{{ item.content }}</td>
                                                <td>{{ item.name }}</td>
                                                <td>
                                                    <a href ng-click="message_remove(item.message_id)" class="text-danger"><i class="fa fa-trash-o fa-sm"></i></a>

                                                        <i tooltip="编辑" class="fa fa-pencil text-info-lter" ng-click="open_edit(item)"></i>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <div >
                                            <div class="row" style="margin: 10px 0;">
                                                <div class="col-md-4 col-sm-4">
                                                    <div class="dataTables_info"> 页码: {{bigCurrentPage}} / {{numPages}}  共 {{bigTotalItems}} 条数据</div>
                                                </div>
                                                <div class="col-md-8 col-sm-8">
                                                    <div style="float: right;margin: 0;">
                                                        <pagination total-items="bigTotalItems"
                                                                    ng-model="bigCurrentPage"
                                                                    max-size="maxSize"
                                                                    class="pagination-md m-t-none m-b"
                                                                    boundary-links="true"
                                                                    rotate="false"
                                                                    num-pages="numPages"
                                                                    items-per-page="pageSize"
                                                                    previous-text="上一页"
                                                                    next-text="下一页"
                                                                    first-text="首页"
                                                                    last-text="尾页"
                                                                    ng-change="pageChanged()"
                                                        ></pagination>
                                                    </div>
                                                </div>

                                                <!--<pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true"></pagination>-->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
