<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>公交查询</title>

    <!-- core CSS -->
    <link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/prettyPhoto.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/main.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/video-js.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/style.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/self.css" rel="stylesheet">
    <link href="__PUBLIC__/Hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Hplus/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Home/js/html5shiv.js"></script>
    <script src="__PUBLIC__/Home/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="__PUBLIC__/Home/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="__PUBLIC__/Home/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="__PUBLIC__/Home/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="__PUBLIC__/Home/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Home/images/ico/apple-touch-icon-57-precomposed.png">

    <script src="__PUBLIC__/Home/js/jquery.js"></script>
    <script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.prettyPhoto.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.isotope.min.js"></script>
    <script src="__PUBLIC__/Home/js/main.js"></script>
    <script src="__PUBLIC__/Home/js/wow.min.js"></script>
    <script src="__PUBLIC__/Home/js/video.min.js"></script>
    <script src="__PUBLIC__/Home/js/jquery.media.js"></script>
    <script src="__PUBLIC__/Hplus/js/content.min.js?v=1.0.0"></script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>

</head><!--/head-->
<body>
<header id="header">
    <nav class="navbar navbar-inverse" role="banner">
        <div class="container">
            <div class="navbar-header" style="width: 115px;height: 56px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="__PUBLIC__/Home/images/logo.png" alt="logo"></a>
            </div>

            <div class="collapse navbar-collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="\">首页</a></li>
                    <if condition="$session.nickname neq ''">
                    <li><a href="{:U('User/show')}">个人中心</a></li>
                    <li><a href="{:U('User/message')}">留言板</a></li>
                    <li><a href="javascript:void(0)">　　　　　　　　　　　　　　　　　　　　　　　　</a></li>

                        <li><a href="javascript:void(0)">欢迎:{$session.nickname}</a>|<a href="{:U('Home/Index/logout')}">注销</a></li>
                    <else/>
                        <li><a href="javascript:void(0)">　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　</a></li>
                        <li><a href="{:U('login')}">登录</a>|<a href="register">注册</a></li>
                    </if>
                </ul>
            </div>
        </div><!--/.container-->
    </nav><!--/nav-->

</header><!--/header-->